html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.main {
  display: block;
  min-height: 500px;
  min-width: 500px;
  text-align: center;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#myCanvas {
  border: 1px solid #D3D3D3;
  z-index: 1;
}

#backgroundCanvas {
  z-index: 0;
}

.hud {
  padding: 10px 5px 0 5px;
  display: inline-block;
  color: #008CBA;
}

#solution {
  margin: 0 20px;
}

#start {
  margin: 0 20px;
  background-color: #008CBA;
  color: white;
}
